/* .line1>button:hover{
  border-top: succcess;
  background-color: white;
} */
.login-container {
  margin-top: 50px;
}
.social-login button {
  width: 100%;
  margin-bottom: 10px;
}
.login-card {
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}